div {
  font-size: 36px;
  -webkit-text-stroke: 1px black;
  -webkit-text-stroke-color: black;
}

.black-block {
  -webkit-text-fill-color: black;
  color: black;
}

.red-block {
  -webkit-text-fill-color: red;
  color: red;
}

.orange-block {
  -webkit-text-fill-color: orange;
  color: orange;
}

.yellow-block {
  -webkit-text-fill-color: yellow;
  color: yellow;
}

.green-block {
  -webkit-text-fill-color: green;
  color: green;
}

.blue-block {
  -webkit-text-fill-color: blue;
  color: blue;
}
.indigo-block {
  -webkit-text-fill-color: indigo;
  color: indigo;
}
.violet-block {
  -webkit-text-fill-color: violet;
  color: violet;
}
