<div>
  Color Changed: {{countFromChild}} times
  <hello
    [name]="nameFromAppComponent"
    (onChanged)="onChangeChild($event)"
  ></hello>
</div>
<div>
  <div [class]="className">
    <span class="black-block"> Current class</span>
    <span class="{{className}}">
      {{className}}
    </span>
  </div>
</div>
<input type="text" [(ngModel)]="name"><br>
<input type="number" [(ngModel)]="age"><br>
<child-comp [userName]="name" [userAge]="age" #counter>
</child-comp>
<button (click)="counter.increment()">+</button><button (click)="counter.decrement()">-</button><br>
